@model dynamic

<div class="ui customer search fullscreen modal padded segment">
    <iframe src="/dashboard/sales/setup/customers/search"></iframe>
</div>

<script>
    $("#SearchCustomerAction").click(function () {
        $(".customer.search.modal").modal("show");
    });

    function onCustomerSearchSelect(customerId, customerName) {
        if (customerId) {
            $(".customer.search.modal").modal("hide");
            //alert("The customer id is --> " + customerId);

            $("#CustomerSelect").dropdown("clear");
            $("#CustomerSelect").html("<option value='" + customerId + "'>" + customerName + "</option>");
            setTimeout(function () {
                $("#CustomerSelect").dropdown("set selected", customerId);
            }, 100);
        };
    };
</script>