@model dynamic

<div class="ui reprint ticket small modal">
    <i class="close icon"></i>
    <div class="header">
        Reprint Ticket
    </div>
    <div class="content">
        <div class="ui big form">
            <div class="field">
                <label>Enter Transaction Id</label>
                <input id="TicketTranIdInputText" class="integer" placeholder="Enter Transaction Id" type="text">
            </div>
            <button reprint-ticket-button class="ui blue button">Reprint</button>
            <button onclick="$(this).parent().parent().parent().modal('hide');" class="ui red button">Close</button>
        </div>
    </div>
</div>
<script src="/Areas/MixERP.Sales/scripts/shared/reprint-ticket.js"></script>
