@model dynamic

<div class="header items">
    <div class="two summary items">
        <div class="amount item">
            <div class="description">Amount</div>
            <div class="money">
                <span></span>
            </div>
        </div>
        <div class="count item">
            <div class="description">Count</div>
            <div class="money">

            </div>
        </div>
    </div>
</div>

<div class="tender info items">
    <div class="payment type container">
        <div data-payment-type="cash" class="two summary items">
            <div class="tender item">
                <div class="description">Cash Tender</div>
                <div class="control">
                    <input type="text" class="decimal" id="TenderInputText" />
                </div>
            </div>
            <div class="change item">
                <div class="description">Cash Change</div>
                <div class="control">
                    <input class="decimal" type="text" readonly="readonly" id="ChangeInputText" />
                </div>
            </div>
        </div>
        <div data-payment-type="credit" style="display: none;" class="one summary items">
            <div class="gift-card number item">
                <div class="description">Payment Term</div>
                <div class="control">
                    <select class="ui inverted fluid dropdown" id="PaymentTermSelect"></select>
                </div>
            </div>
        </div>
        <div data-payment-type="check" style="display: none;">
            <div class="two summary items">
                <div class="check amount item">
                    <div class="description">Check Amount</div>
                    <div class="control">
                        <input class="decimal" type="text" id="CheckAmountInputText" />
                    </div>
                </div>
                <div class="check bank name item">
                    <div class="description">Bank Name</div>
                    <div class="control">
                        <input type="text" id="BankNameInputText" />
                    </div>
                </div>
            </div>
            <div class="two summary items">
                <div class="check number item">
                    <div class="description">Check Number</div>
                    <div class="control">
                        <input type="text" id="CheckNumberInputText" />
                    </div>
                </div>
                <div class="check date item">
                    <div class="description">Check Date</div>
                    <div class="control">
                        <input type="text" class="date" id="CheckDateInputText" />
                    </div>
                </div>
            </div>
        </div>
        <div data-payment-type="gift-card" style="display: none;" class="two summary items">
            <div class="gift-card number item">
                <div class="description">Gift Card Number</div>
                <div class="control">
                    <div class="ui action fluid input">
                        <input id="GiftCardNumberInputText" required="" type="text">
                        <button class="ui icon blue button" onclick='$(".ui.gift.card.modal").modal("show");'>
                            <i class="search icon"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="gift-card balance item">
                <div class="description">Gift Card Balance</div>
                <div class="control">
                    <input class="decimal" type="text" readonly="readonly" id="GiftCardNumberBalanceInputText" />
                </div>
            </div>
        </div>
    </div>
    <div class="one summary items">
        <div class="customer item">
            <div class="description">Customer</div>
            <div class="control">
                @*<select id="CustomerSelect" class="ui search fluid inverted dropdown"></select>*@
                <div class="ui fluid customer search">
                    <div class="ui left icon fluid input">
                        <input id="CustomerInputText" class="prompt" type="text">
                        <i class="search grey icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="three summary items">
        <div class="coupon code item">
            <div class="description">Coupon Code</div>
            <div class="control">
                <input type="text" class="" id="CouponCodeInputText" />
            </div>
        </div>
        <div class="discount type item">
            <div class="description">Discount Type</div>
            <div class="control">
                <select class="ui inverted fluid dropdown" id="DiscountTypeSelect">
                    <option value="1">Rate</option>
                    <option value="2">Amount</option>
                </select>
            </div>
        </div>
        <div class="discount item">
            <div class="description">Discount</div>
            <div class="control">
                <input type="text" class="decimal" id="DiscountInputText" />
            </div>
        </div>
    </div>
    <div class="two summary items">
        <div class="value date item">
            <div class="description">Value Date</div>
            <div class="control">
                <input type="text" class="date" id="ValueDateInputText" />
            </div>
        </div>
        <div class="book date item">
            <div class="description">Book Date</div>
            <div class="control">
                <input type="text" class="date" id="BookDateInputText" />
            </div>
        </div>
    </div>
    <a class="show more anchor">Show More</a>
    <div class="more" style="display: none;">
        <div class="one summary items">
            <div class="cost center item">
                <div class="description">Cost Center</div>
                <div class="control">
                    <select class="ui inverted fluid dropdown" id="CostCenterSelect"></select>
                </div>
            </div>
        </div>
        <div class="one summary items">
            <div class="shipping company item">
                <div class="description">Shipper</div>
                <div class="control">
                    <select class="ui inverted fluid dropdown" id="ShipperSelect"></select>
                </div>
            </div>
        </div>
        <div class="two summary items">
            <div class="reference number item">
                <div class="description">Ref#</div>
                <div class="control">
                    <input type="text" id="ReferenceNumberInputText" />
                </div>
            </div>
            <div class="memo item">
                <div class="description">Memo</div>
                <div class="control">
                    <input type="text" id="StatementReferenceInputText" />
                </div>
            </div>
        </div>
        <a class="show less anchor">Show Less</a>
    </div>
    <div class="ui one column padded grid">
        <div class="column">
            <button class="ui big green button" id="CheckoutButton">Checkout</button>

            <div class="ticket panel">
                <iframe id="TicketIframe"></iframe>
                <button class="ui blue circular button" onclick="$('#TicketIframe').get(0).contentWindow.print();" id="PrintButton">Print</button>
                <button class="ui red  circular button" onclick="$('.ticket.panel').hide();">Hide</button>
            </div>
        </div>
    </div>
</div>
<script src="/Areas/MixERP.Sales/scripts/shared/sales-entry.js"></script>
