@model dynamic

@{
    ViewBag.Title = "Loyalty Point Manager";
    Layout = ViewBag.SalesLayoutPath;
}

<h2>Loyalty Point Manager</h2>

<script src="/Areas/MixERP.Sales/scripts/loyalty/points/index.js"></script>

