@using MixERP.Sales.Extensions
@model dynamic

@{
    ViewBag.Title = "Add Fund to Gift Cards";
    Layout = ViewBag.SalesLayoutPath;
}

<style>
    iframe {
        border: 1px solid #ccc;
        width: 500px;
        height: 800px;
        margin: 0 auto;
        padding: 1em;
    }
</style>
<div class="ui attached gift card fund segment" style="padding: 3em">
    <div class="ui container">
        <div class="ui large header">Add Funds To Gift Card</div>
        <div class="ui divider"></div>
        <div class="ui form" style="width: 500px;">
            <div class="field">
                <label>Enter Gift Card Number</label>
                <div class="ui action input">
                    <input id="GiftCardNumberInputText" required="" type="text">
                    <button class="ui icon blue button" onclick='$(".ui.gift.card.modal").modal("show");'>
                        <i class="search icon"></i>
                    </button>
                </div>
            </div>
            <div class="field">
                <label>Enter Amount</label>
                <input id="AmountInputText" type="text" class="decimal" required="" />
            </div>
            <div class="field">
                <label>Select Debit Account</label>
                <select id="AccountIdSelect" class="ui search dropdown" required=""></select>
            </div>
            <div class="field">
                <label>Value Date</label>
                <input type="text" class="date" required="" id="ValueDateInputText" />
            </div>
            <div class="field">
                <label>Book Date</label>
                <input type="text" class="date" required="" id="BookDateInputText" />
            </div>
            <div class="field">
                <label>Select Cost Center</label>
                <select id="CostCenterIdSelect" class="ui search dropdown" required=""></select>
            </div>
            <div class="field">
                <label>Reference Number</label>
                <input type="text" id="ReferenceNumberInputText" />
            </div>
            <div class="field">
                <label>Memo</label>
                <input type="text" id="StatementReferenceInputText" />
            </div>

            <button id="SaveButton" class="ui positive circular button">Save</button>
            <a href="/dashboard/loyalty/tasks/gift-cards/add-fund/" class="ui negative circular button">Back</a>
        </div>
    </div>
</div>

@Html.PartialView("Shared/GiftCardSerachModal.cshtml", TenantConvention.GetTenant());

<script src="/Areas/MixERP.Sales/scripts/loyalty/gift-cards/add-fund/entry.js"></script>

