@model dynamic

@{
    Layout = ViewBag.Layout;
}

<script src="/Scripts/frapid/utilities/form.js"></script>
<div class="sales layout container">
    @RenderBody()
</div>

<script>
    loadDatepicker();
    setNumberFormat();
</script>