@model dynamic

@{
    ViewBag.Title = "Cashiers";
    Layout = ViewBag.SalesLayoutPath;
}

<script>
    var scrudFactory = new Object();

    scrudFactory.title = "Cashiers";

    scrudFactory.viewAPI = "/api/views/sales/cashier-scrud-view";
    scrudFactory.viewTableName = "sales.cashier_scrud_view";

    scrudFactory.formAPI = "/api/forms/sales/cashiers";
    scrudFactory.formTableName = "sales.cashiers";

    scrudFactory.excludedColumns = ["audit_user_id", "audit_ts"];

    scrudFactory.allowDelete = true;
    scrudFactory.allowEdit = true;

    scrudFactory.live = "CashierCode";

    scrudFactory.card = {
        header: "associated_user",
        meta: "cashier_code",
        description: "counter"     
    };

    //scrudFactory.layout = [
    //    {
    //        tab: "",
    //        fields: [
    //            ["", ""],
    //            ["", ""],
    //        ]
    //    }
    //];

    scrudFactory.keys = [
        {
            property: "CounterId",
            url: '/api/forms/inventory/counters/display-fields',
            data: null,
            valueField: "Key",
            textField: "Value"
        },
        {
            property: "AssociatedUserId",
            url: '/api/views/account/user-selector-view/display-fields',
            data: null,
            valueField: "Key",
            textField: "Value"
        }
    ];



    $.get('/ScrudFactory/View.html', function (view) {
        $.get('/ScrudFactory/Form.html', function (form) {
            $("#ScrudFactoryView").html(view);
            $("#ScrudFactoryForm").html(form);
            $.cachedScript("/assets/js/scrudfactory-view.js");
            $.cachedScript("/assets/js/scrudfactory-form.js");
        });
    });
</script>

<div id="ScrudFactoryForm"></div>
<div id="ScrudFactoryView"></div>