@using MixERP.Sales.Extensions
@model dynamic

@{
    ViewBag.Title = "Sales Entries";
    Layout = ViewBag.SalesLayoutPath;
}

<style>
    .sales.return.header {
        color: #eee;
        font-size: 2em;
    }
</style>
@Html.PartialView("Shared/POSScreen.cshtml", TenantConvention.GetTenant())

<script>

    const transactionMasterId = window.getQueryStringByName("TransactionMasterId");
    const header = $("<div class='ui centered sales return header'>Sales Return #<span></span></a>");
    header.find("span").html(transactionMasterId);
    $(".status.head").before(header);

    function removeEls() {
        $(".pos.tabs").remove();
        $("[data-payment-type]").remove();
        $(".payment.type.container").remove();
        $(".coupon.code.item").parent().remove();
        $(".reprint.ticket.item").remove();
        $("#ShipperSelect").closest(".one.summary.items").remove();
    };

    removeEls();

    $(document).on("posready", function () {
        $("#CheckoutButton").unbind("click").bind("click", function() {
            function request(model) {
                const url = "/dashboard/sales/tasks/return/new";
                const data = JSON.stringify(model);
                alert(data);
                return window.getAjaxRequest(url, "POST", data);
            };

            const model = window.getModel();
            model.TransactionMasterId = window.getQueryStringByName("TransactionMasterId");


            if (!model.Details.length) {
                window.displayMessage("Please select an item.");
                return;
            };

            const confirmed = confirm("Are you sure");

            if (!confirmed) {
                return;
            };


            $("#CheckoutButton").addClass("loading");

            const ajax = request(model);

            ajax.success(function (response) {
                const id = response;
                document.location = "/dashboard/sales/tasks/return";
            });

            ajax.fail(function (xhr) {
                $("#CheckoutButton").removeClass("loading");
                window.displayMessage(JSON.stringify(xhr));
            });
        });
    })
</script>